json
old
abm
analysis
db
logs
qgis
.ipynb_checkpoints
*.pyc
.dbconfig
_tmp*
*.var
*.pickle
*.sublime-project
*.sublime-workspace
*.xlsx
*.csv
v4/sample
*.gz
*.zip
v4/figs
v3/figs
*.tgz
*.hdf
*.bak
*.dir
*.dat
*.pdf
*.tex
